﻿@model IEnumerable<HomeWork_for_Present_Connection.Models.Competency>

@{
    ViewBag.Title = "Kompetencija";
}

<form method="get">
    <p>
        <h3>Imones</h3>
        @Html.DropDownList("OrganisationId", null, "Pasirinkite Imone", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="filter" />
    </p>
    <br />
</form>

<h2>Kompetencija</h2>

<p>
    @Html.ActionLink("Ivesti nauja", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            <center>
                @Html.DisplayNameFor(model => model.Name)
            </center>
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <center>
                <a href="@Url.Action("Edit", "Competencies", new { id=item.Id })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </center>
        </td>
   

    </tr>
}

</table>
