﻿@model IEnumerable<HomeWork_for_Present_Connection.Models.CompetenceAssessment>

@{
    ViewBag.Title = "Vertinimas";
}
<form method="get">
            <p>
            <h3>Imones</h3>
            @Html.DropDownList("OrganisationId", null, "Pasirinkite Imone", htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="filter" />
            </p>
        <br />
</form>

<p>
    <h2>
        Vertinimai
        @Html.ActionLink("Naujas Vertinimas!", "Create", null, new { @class = "btn btn-default" })
    </h2>
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competency.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assessment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Competency.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assessment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        
        
        
    </tr>
}

</table>
