﻿@model IEnumerable<HomeWork_for_Present_Connection.Models.Organisation>

@{
    ViewBag.Title = "Imones";
}

<h2>Imones</h2>

<p>
    @Html.ActionLink("Ivesti nauja", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            <center>
                @Html.DisplayNameFor(model => model.Name)
            </center>
        </th>
        <th>
            <center>
                <b>Darbuotoju skaicius</b>
            </center>
        </th>
        <th>
            <center>
                <b>Kompetenciju skaicius</b>
            </center>
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <center>
                <a href="@Url.Action("Edit", "Organisations", new { id=item.Id })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </center>
        </td>
        <td>
            <center>

            </center>
        </td>
        <td>
            <center>
                
            </center>
        </td>
        
        
    </tr>
}

</table>
