﻿@model IEnumerable<HomeWork_for_Present_Connection.Models.User>

@{
    ViewBag.Title = "Darbuotojai";
}

<h2>Darbuotojai</h2>

<p>
    @Html.ActionLink("Ivesti nauja", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <b>Kompetencija</b>
        </th>
        <th>
            <b>Paskutinis vertinimas</b>
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                <a href="@Url.Action("Edit", "Users", new { id=item.Id })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
        </td> 
        <td>

        </td>
        <td>
            
        </td>
        
    </tr>
}

</table>
